# Project
.vscode/
.idea/
.github/
.*ignore
.*yaml
.editorconfig
Makefile
LICENCE
README.md
amazon-ec2
webserver-prod-us-east-2-key.pem

# Cache
__pycache__/
*.py[cod]

# Environment
.env

# Docker
docker-compose*.yml
Dockerfile
